<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Reuse complied SQL -->
	<settings>
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	<!-- Type alias -->
	<typeAliases>
		<typeAlias alias="History" type="org.wechatapps.pojo.db.History" />
	</typeAliases>
</configuration>